<!-- <app-form-celsius> </app-form-celsius> -->

<!-- <div class="contenedor">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>

</div> -->

<div class="contenedor">
  <header><H2> HEADER</H2></header>
  <main>
    <h1>Contenido</h1>
    <p>
      Lorem Ipsum es simplemente un texto ficticio de la industria de la
      impresión y la composición tipográfica. Lorem Ipsum ha sido el texto
      ficticio estándar de la industria desde el año 1500, cuando un impresor
      desconocido tomó una galera de tipos y la codificó para hacer un libro de
      muestras tipográficas. Ha sobrevivido no solo cinco siglos, sino también
      el salto a la composición tipográfica electrónica, permaneciendo
      esencialmente sin cambios. Se popularizó en la década de 1960 con el
      lanzamiento de hojas de Letraset que contenían pasajes de Lorem Ipsum y,
      más recientemente, con software de autoedición como Aldus PageMaker, que
      incluía versiones de Lorem Ipsum.
    </p>
  </main>

  <aside>
    <h3>Sidebar</h3>
  </aside>

  <div>
    <h3>Widget 1</h3>
  </div>
  <div>
    <h3>Widget 2</h3>
  </div>
  <div class="w3">
    <h3>Widget 3</h3>
  </div>

  <footer class="f">
    <h3>footer</h3>
  </footer>
</div>
